<h1>New Reservation</h1>
<%= form_for :reservation, url: reservations_path do |f| %>
  <p>
    <%= f.label :Pickup_location %><br>
    <%= f.text_field :pickup_location %>
  </p>
 
  <p>
    <%= f.label :Pickup_Time %><br>
    <%= f.datetime_select :pickup_time %>
  </p>
  <p>
    <%= f.label :Dropoff_Time %><br>
    <%= f.datetime_select :dropoff_time %>
  </p> 
  <p>
    <%= f.submit %>
  </p>
  
<% end %>
<%= link_to 'Back', reservations_path %>